<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle6</string>
		<string>156.5.0.200749</string>
	</array>
	<key>AutoAdjust</key>
	<false/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1257, 792}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>CanvasSize</key>
	<string>{1257, 792}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2014-05-28 13:28:03 +0000</string>
	<key>Creator</key>
	<string>Brian Blais</string>
	<key>DisplayScale</key>
	<string>1 in = 1.00000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>11</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{617.10759493670889, 29.159999348223209}, {22.784810126582279, 45}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>19</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{684, 378}, {539.50413223140492, 288}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>17</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{596.55552414127681, 710.74999237060547}, {68.500007629394531, 22}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.182171</string>
					<key>g</key>
					<string>0.182208</string>
					<key>r</key>
					<string>0.182186</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>15</integer>
			<key>Rotation</key>
			<real>90</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKwVCbGFpc4aEAmlJAQWShISEDE5TRGljdGlv
				bmFyeQCUhAFpA5KElpYHTlNDb2xvcoaShISEB05TQ29s
				b3IAlIQBYwKEBGZmZmaD9vR0PoP29HQ+g/b0dD4BhpKE
				lpYQTlNQYXJhZ3JhcGhTdHlsZYaShISEF05TTXV0YWJs
				ZVBhcmFncmFwaFN0eWxlAISEEE5TUGFyYWdyYXBoU3R5
				bGUAlIQEQ0NAUwIAhISEB05TQXJyYXkAlJkMkoSEhAlO
				U1RleHRUYWIAlIQCQ2YAHIaShKOiADiGkoSjogBUhpKE
				o6IAcIaShKOiAIGMAIaShKOiAIGoAIaShKOiAIHEAIaS
				hKOiAIHgAIaShKOiAIH8AIaShKOiAIEYAYaShKOiAIE0
				AYaShKOiAIFQAYaGgQAIhARbMWZdg83MTD2GkoSWlgZO
				U0ZvbnSGkoSEhAZOU0ZvbnQelJkchAVbMjhjXQYAAAAU
				AAAA//5IAGUAbAB2AGUAdABpAGMAYQCEAWYSmwCbAZsA
				mwCGhoY=
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1343\cocoasubrtf160
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red46\green46\blue46;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs36 \cf2 Blais}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{446.30554726548144, 268.99999237060547}, {369, 22}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.182171</string>
					<key>g</key>
					<string>0.182208</string>
					<key>r</key>
					<string>0.182186</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>13</integer>
			<key>Rotation</key>
			<real>90</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKyJTVEFUSVNUSUNBTCBJTkZFUkVOQ0UgRk9S
				IEVWRVJZT05FhoQCaUkBIpKEhIQMTlNEaWN0aW9uYXJ5
				AJSEAWkDkoSWlgdOU0NvbG9yhpKEhIQHTlNDb2xvcgCU
				hAFjAoQEZmZmZoP29HQ+g/b0dD6D9vR0PgGGkoSWlhBO
				U1BhcmFncmFwaFN0eWxlhpKEhIQXTlNNdXRhYmxlUGFy
				YWdyYXBoU3R5bGUAhIQQTlNQYXJhZ3JhcGhTdHlsZQCU
				hARDQ0BTAgCEhIQHTlNBcnJheQCUmQyShISECU5TVGV4
				dFRhYgCUhAJDZgAchpKEo6IAOIaShKOiAFSGkoSjogBw
				hpKEo6IAgYwAhpKEo6IAgagAhpKEo6IAgcQAhpKEo6IA
				geAAhpKEo6IAgfwAhpKEo6IAgRgBhpKEo6IAgTQBhpKE
				o6IAgVABhoaBAAiEBFsxZl2DzcxMPYaShJaWBk5TRm9u
				dIaShISEBk5TRm9udB6UmRyEBVsyOGNdBgAAABQAAAD/
				/kgAZQBsAHYAZQB0AGkAYwBhAIQBZhKbAJsBmwCbAIaG
				hg==
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1343\cocoasubrtf160
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red46\green46\blue46;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs36 \cf2 STATISTICAL INFERENCE FOR EVERYONE}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{72, 515}, {477, 84}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>12</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>3</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1343\cocoasubrtf160
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qj

\f0\fs24 \cf0 Brian Blais is a Professor of Science and Technology at Bryant University and a research professor at the Institute for Brain and Neural Systems, Brown University.  With a Ph.D. in Physics from Brown University, he has taught and published in such diverse areas as computational neuroscience, robotics, epidemic modeling, and environmental resource dynamics.  He maintains his blog, 
\i bblais on the web
\i0 , at {\field{\*\fldinst{HYPERLINK "http://web.bryant.edu/~bblais/"}}{\fldrslt http://web.bryant.edu/~bblais/}} where he explores the intersection of science and society.}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{72, 164}, {196, 38}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.182171</string>
					<key>g</key>
					<string>0.182208</string>
					<key>r</key>
					<string>0.182186</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>16</real>
			</dict>
			<key>ID</key>
			<integer>11</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKyJTVEFUSVNUSUNBTCBJTkZFUkVOQ0UKRk9S
				IEVWRVJZT05FhoQCaUkBIpKEhIQMTlNEaWN0aW9uYXJ5
				AJSEAWkDkoSWlgdOU0NvbG9yhpKEhIQHTlNDb2xvcgCU
				hAFjAoQEZmZmZoP29HQ+g/b0dD6D9vR0PgGGkoSWlhBO
				U1BhcmFncmFwaFN0eWxlhpKEhIQQTlNQYXJhZ3JhcGhT
				dHlsZQCUhARDQ0BTAACEhIQHTlNBcnJheQCUmQyShISE
				CU5TVGV4dFRhYgCUhAJDZgAchpKEoqEAOIaShKKhAFSG
				koSioQBwhpKEoqEAgYwAhpKEoqEAgagAhpKEoqEAgcQA
				hpKEoqEAgeAAhpKEoqEAgfwAhpKEoqEAgRgBhpKEoqEA
				gTQBhpKEoqEAgVABhoaBAAiEBFsxZl2DzcxMPYaShJaW
				Bk5TRm9udIaShISEBk5TRm9udB6UmRyEBVsyOGNdBgAA
				ABQAAAD//kgAZQBsAHYAZQB0AGkAYwBhAIQBZhCbAJsB
				mwCbAIaGhg==
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1343\cocoasubrtf160
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red46\green46\blue46;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs32 \cf2 STATISTICAL INFERENCE\
FOR EVERYONE}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{90, 360}, {432, 101}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>10</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>3</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1343\cocoasubrtf160
{\fonttbl\f0\fswiss\fcharset0 Helvetica;\f1\fnil\fcharset0 LucidaGrande;}
{\colortbl;\red255\green255\blue255;}
{\*\listtable{\list\listtemplateid1\listhybrid{\listlevel\levelnfc23\levelnfcn23\leveljc0\leveljcn0\levelfollow0\levelstartat1\levelspace360\levelindent0{\*\levelmarker \{square\}}{\leveltext\leveltemplateid1\'01\uc0\u9642 ;}{\levelnumbers;}\fi-360\li720\lin720 }{\listname ;}\listid1}}
{\*\listoverridetable{\listoverride\listid1\listoverridecount0\ls1}}
\pard\tx220\tx720\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\li720\fi-720\pardirnatural\qj
\ls1\ilvl0
\f0\fs24 \cf0 {\listtext	
\f1 \uc0\u9642 
\f0 	}Work through a systematic foundation in the rules of probability\
\
{\listtext	
\f1 \uc0\u9642 
\f0 	}Apply probability consistently through practical topics, working through problems in hypothesis testing and model comparison\
\
{\listtext	
\f1 \uc0\u9642 
\f0 	}Explore visualization and analysis using the free computer software, written in Python}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{72, 212}, {468, 98}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>9</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>3</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1343\cocoasubrtf160
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qj

\f0\fs24 \cf0 This is a new approach to an introductory statistical inference textbook, motivated by probability theory as logic. It is targeted to the typical "Statistics 101" college student, and covers the topics typically treated in such a course. This book walks through a simple introduction to probability, and then applies those principles to all problems of inference.  Topics include hypothesis testing, data visualization, parameter inference, and model comparison.  It is freely available under the Creative Commons License, and includes a software library in Python for making calculations and visualizations easier.}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{679, 20.577364563096225}, {136, 26}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.182171</string>
					<key>g</key>
					<string>0.182208</string>
					<key>r</key>
					<string>0.182186</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>44</real>
			</dict>
			<key>ID</key>
			<integer>7</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKwtCUklBTiBCTEFJU4aEAmlJAQuShISEDE5T
				RGljdGlvbmFyeQCUhAFpA5KElpYHTlNDb2xvcoaShISE
				B05TQ29sb3IAlIQBYwKEBGZmZmaD9vR0PoP29HQ+g/b0
				dD4BhpKElpYQTlNQYXJhZ3JhcGhTdHlsZYaShISEEE5T
				UGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwAAhISEB05TQXJy
				YXkAlJkMkoSEhAlOU1RleHRUYWIAlIQCQ2YAHIaShKKh
				ADiGkoSioQBUhpKEoqEAcIaShKKhAIGMAIaShKKhAIGo
				AIaShKKhAIHEAIaShKKhAIHgAIaShKKhAIH8AIaShKKh
				AIEYAYaShKKhAIE0AYaShKKhAIFQAYaGgQAIhARbMWZd
				g83MTD2GkoSWlgZOU0ZvbnSGkoSEhAZOU0ZvbnQelJkc
				hAVbMjhjXQYAAAAUAAAA//5IAGUAbAB2AGUAdABpAGMA
				YQCEAWYWmwCbAZsAmwCGhoY=
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1343\cocoasubrtf160
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red46\green46\blue46;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs44 \cf2 BRIAN BLAIS}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{684, 218}, {538, 106}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.182171</string>
					<key>g</key>
					<string>0.182208</string>
					<key>r</key>
					<string>0.182186</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>44</real>
			</dict>
			<key>ID</key>
			<integer>6</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKyJTVEFUSVNUSUNBTCBJTkZFUkVOQ0UKRk9S
				IEVWRVJZT05FhoQCaUkBIpKEhIQMTlNEaWN0aW9uYXJ5
				AJSEAWkDkoSWlgdOU0NvbG9yhpKEhIQHTlNDb2xvcgCU
				hAFjAoQEZmZmZoP29HQ+g/b0dD6D9vR0PgGGkoSWlhBO
				U1BhcmFncmFwaFN0eWxlhpKEhIQQTlNQYXJhZ3JhcGhT
				dHlsZQCUhARDQ0BTAACEhIQHTlNBcnJheQCUmQyShISE
				CU5TVGV4dFRhYgCUhAJDZgAchpKEoqEAOIaShKKhAFSG
				koSioQBwhpKEoqEAgYwAhpKEoqEAgagAhpKEoqEAgcQA
				hpKEoqEAgeAAhpKEoqEAgfwAhpKEoqEAgRgBhpKEoqEA
				gTQBhpKEoqEAgVABhoaBAAiEBFsxZl2DzcxMPYaShJaW
				Bk5TRm9udIaShISEBk5TRm9udB6UmRyEBVsyOGNdBgAA
				ABQAAAD//kgAZQBsAHYAZQB0AGkAYwBhAIQBZiybAJsB
				mwCbAIaGhg==
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1343\cocoasubrtf160
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red46\green46\blue46;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs88 \cf2 STATISTICAL INFERENCE\
FOR EVERYONE}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{72, 342}, {468, 135}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>16</integer>
			<key>Shape</key>
			<string>RoundRect</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.923358</string>
						<key>g</key>
						<string>0.923358</string>
						<key>r</key>
						<string>0.923358</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{54, 144}, {504, 504}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>3</integer>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>ShowsGrid</key>
		<string>YES</string>
		<key>SnapsToGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>4</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image3.pdf</string>
		<string>image2.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoLineLength</key>
		<real>0.20000000298023224</real>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2015-01-06 18:36:53 +0000</string>
	<key>Modifier</key>
	<string>Brian Blais</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>1</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>NO</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612.00000476837158, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>2</integer>
	<key>WindowInfo</key>
	<dict>
		<key>BottomSlabHeight</key>
		<real>498</real>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>Expanded_Canvases</key>
		<array/>
		<key>Frame</key>
		<string>{{-48, 32}, {1440, 845}}</string>
		<key>ShowInfo</key>
		<true/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>230</integer>
		<key>VisibleRegion</key>
		<string>{{125.82172581912654, -6}, {1026.1077731185387, 804.33979975697309}}</string>
		<key>Zoom</key>
		<real>0.87027895450592041</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>0.87027895450592041</real>
				<real>0.43513947725296021</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
